n8n_workflows/get_alpha_data.json
{
  "name": "get_alpha_data",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "propertyName": "cachedValue",
        "key": "={{$json.cache_key}}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "1337aa1c-868b-48cf-b63f-d395b186a30a",
      "name": "Redis",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "Li4h0e3WsSX7HsXw",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3093ab2-3f88-4906-8054-463dd660e6f4",
              "leftValue": "={{ $json.cachedValue }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "2ff9b2f5-b77b-4526-8d24-f3247f6505a0",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "function",
              "value": "={{$node[\"Normalize Inputs\"].json.type}}"
            },
            {
              "name": "symbol",
              "value": "={{$node[\"Normalize Inputs\"].json.ticker}}"
            },
            {
              "name": "apikey",
              "value": "=$env.ALPHAVANTAGE_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -64
      ],
      "id": "cc7d3314-d56c-410f-a161-95bbb872802a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return {\n  ticker: $node[\"Build Cache Key\"].json.ticker,\n  exchange: $node[\"Build Cache Key\"].json.exchange,\n  type: $node[\"Build Cache Key\"].json.type,\n  cache_key: $node[\"Build Cache Key\"].json.cache_key,          // overview::ADBE::US\n  ttlSeconds: $node[\"Build Cache Key\"].json.ttlSeconds, // 1209600\n  overview_source: \"cache\",\n  cachedValue: $json.cachedValue   // store as string          \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        160
      ],
      "id": "95f9f3ea-bd2a-4256-a908-8bb34f99c163",
      "name": "Parse cached overview"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  ticker: $json.ticker,\n  exchange: $json.exchange,\n  type: $json.type,\n  ttlSeconds: 60 * 60 * 24 * 14,\n  \n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "90c34942-194e-4ba3-86cd-c37ad2a5bb6f",
      "name": "Normalize Inputs"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  cache_key: `alpha:${$json.type}:${$json.exchange}:${$json.ticker}`,\n  ...$json,\n  type: $json.type,\n  ttlSeconds: $json.ttlSeconds,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "a9b08760-ab4d-45a0-9ade-42c4df8bbd42",
      "name": "Build Cache Key"
    },
    {
      "parameters": {
        "jsCode": "return {\n  ticker: $node[\"Build Cache Key\"].json.ticker,\n  exchange: $node[\"Build Cache Key\"].json.exchange,\n  type: $node[\"Build Cache Key\"].json.type,\n  cache_key: $node[\"Build Cache Key\"].json.cache_key,          // overview::ADBE::US\n  ttlSeconds: $node[\"Build Cache Key\"].json.ttlSeconds, // 1209600\n  overview_source: \"api\",\n  cachedValue: $json   // store as string          \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -64
      ],
      "id": "cf8aa68d-da35-4a3e-b2d5-b081ae7dc6f6",
      "name": "Prepare Overview Cache"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.cache_key}}",
        "value": "={{$json.cachedValue}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1728,
        -64
      ],
      "id": "e6ec96ac-b95e-4299-bb58-b084ade8402b",
      "name": "Store Data in Redis",
      "credentials": {
        "redis": {
          "id": "Li4h0e3WsSX7HsXw",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"ticker\": \"AAPL\",\n  \"exchange\": \"US\",\n  \"type\": \"overview\",\n  \"ttlSeconds\": 1209600\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        0
      ],
      "id": "1bc2ea08-55fa-4e54-8a95-742be4017d35",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse cached overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Prepare Overview Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Build Cache Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache Key": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Overview Cache": {
      "main": [
        [
          {
            "node": "Store Data in Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Data in Redis": {
      "main": [
        []
      ]
    },
    "Parse cached overview": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a06e06f-739d-4e35-87cd-4b29085801a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87bef006e4a63111db242b2411a115e87b1eb09519bd8a9fad43bcb4a4945f70"
  },
  "id": "f3LKQya822T2S0bj",
  "tags": []
}