n8n_workflows/Main analysis pipeline.json
{
  "name": "Main analysis pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=/stock-report",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        112
      ],
      "id": "bbf09979-3c78-497a-8919-ce055cfba21a",
      "name": "Webhook",
      "webhookId": "28c37a4a-b720-439d-86be-d3dced8ae07d"
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\n// If this is coming from HTTP Request (api), item is already the overview object.\n// If coming from cache, Parse cached overview should have parsed JSON.\nconst overview = item.overview ?? item; \n\nif (\n    overview &&\n    overview.cachedValue &&\n    typeof overview.cachedValue === \"string\"\n  ) {\n    try {\n      overview.cachedValue = JSON.parse(overview.cachedValue);\n    } catch (e) {\n      // leave it as-is if parsing fails\n    }\n  }\n\nreturn [{  \n  overview,\n  source: item.source || (item.Symbol ? \"api\" : \"cache\"),\n  generatedAt: new Date().toISOString(),\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        48
      ],
      "id": "fa7af3dd-3e16-4d48-9a15-ad6fc466c2c4",
      "name": "Normalize Overview Output"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "=name contains \"{{$json.ticker}} - Investment Memo\" and \"1OzJuiThvI4fwigtqKhha50zmSUA5sG6S\" in parents and trashed = false",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        112
      ],
      "id": "12531a7b-09fd-4c9a-9b10-6bf3ebc18715",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IYWw3amI7IZdFkmo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        112
      ],
      "id": "6e1c4dec-58cf-4164-8c32-22123996a5d6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1O-In44CwC4OWWUKp4VY7StVF0I95zhScCvtruBVsOJs",
          "mode": "id"
        },
        "name": "={{$node[\"Set Stock Data\"].json.ticker}} - Investment Memo",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        320
      ],
      "id": "dda67128-42e7-4deb-9f99-17626cfceafe",
      "name": "Create file from template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IYWw3amI7IZdFkmo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90b0cec0-56c3-410b-bd14-3aa4f77d188e",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        112
      ],
      "id": "808a1250-bdef-4297-bf28-067367bac846",
      "name": "If file exists"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{$node[\"Set File Name\"].json.fileId}}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{name}}",
              "replaceText": "={{$node[\"Normalize Overview Output\"].json.overview.cachedValue.Name}}"
            },
            {
              "action": "replaceAll",
              "text": "{{ticker}}",
              "replaceText": "={{$node[\"Normalize Overview Output\"].json.overview.ticker}}"
            },
            {
              "action": "replaceAll",
              "text": "{{exchange}}",
              "replaceText": "={{$node[\"Normalize Overview Output\"].json.overview.exchange}}"
            },
            {
              "action": "replaceAll",
              "text": "{{market_cap}}",
              "replaceText": "={{($node[\"Normalize Overview Output\"].json.overview.cachedValue.MarketCapitalization / 1_000_000_000).toFixed(2) + \" B\"}}"
            },
            {
              "action": "replaceAll",
              "text": "{{report_date}}",
              "replaceText": "={{$now.toFormat('dd LLL yyyy, HH:mm')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2080,
        48
      ],
      "id": "386ebe80-16f9-4cec-a0db-db81f2d39740",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "hE8zyjjTEt5x80hj",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "f3LKQya822T2S0bj",
          "mode": "list",
          "cachedResultName": "get_alpha_data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "overview",
            "ticker": "={{$node[\"Set Stock Data\"].json.ticker}}",
            "exchange": "={{$node[\"Set Stock Data\"].json.exchange}}",
            "ttlSeconds": "={{$node[\"Set Stock Data\"].json.ttlSeconds}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticker",
              "displayName": "ticker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "exchange",
              "displayName": "exchange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cache_key",
              "displayName": "cache_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "ttlSeconds",
              "displayName": "ttlSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1360,
        48
      ],
      "id": "de2ad0f2-cfed-4180-8ecc-a4ba677bf3a2",
      "name": "Execute for Overview"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "f3LKQya822T2S0bj",
          "mode": "list",
          "cachedResultName": "get_alpha_data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "GLOBAL_QUOTE",
            "ticker": "={{$node[\"Set Stock Data\"].json.ticker}}",
            "exchange": "={{$node[\"Set Stock Data\"].json.exchange}}",
            "ttlSeconds": "={{$node[\"Set Stock Data\"].json.ttlSeconds}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticker",
              "displayName": "ticker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "exchange",
              "displayName": "exchange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cache_key",
              "displayName": "cache_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "ttlSeconds",
              "displayName": "ttlSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1376,
        336
      ],
      "id": "53c6255a-0536-405b-b7c9-90747ef36060",
      "name": "Execute for Overview1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{$node[\"Set File Name\"].json.fileId}}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{current_price}}",
              "replaceText": "={{ $json.overview.cachedValue[\"Global Quote\"][\"05. price\"] }}\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2064,
        336
      ],
      "id": "851a480a-d837-4acc-b59f-b9db052e97d2",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "hE8zyjjTEt5x80hj",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\n// If this is coming from HTTP Request (api), item is already the overview object.\n// If coming from cache, Parse cached overview should have parsed JSON.\nconst overview = item.overview ?? item; \n\nif (\n    overview &&\n    overview.cachedValue &&\n    typeof overview.cachedValue === \"string\"\n  ) {\n    try {\n      overview.cachedValue = JSON.parse(overview.cachedValue);\n    } catch (e) {\n      // leave it as-is if parsing fails\n    }\n  }\n\nreturn [{  \n  overview,\n  source: item.source || (item.Symbol ? \"api\" : \"cache\"),\n  generatedAt: new Date().toISOString(),\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        336
      ],
      "id": "d367f115-bb15-4bf9-a890-208a75dfd649",
      "name": "Normalize Price"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  \"fileId\": $node[\"Merge1\"].json.id,\n  \"fileName\": $node[\"Merge1\"].json.name,\n  \"createdAt\": new Date().toISOString()\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        112
      ],
      "id": "56a7929d-6608-4eec-888a-d1eb125a5415",
      "name": "Set File Name"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (!$json.ticker) {\n  throw new Error(\"Missing required field: ticker\");\n}\n\nreturn {\n  ticker: $json.ticker,\n  exchange: $json.exchange,\n  ttlSeconds: 60 * 60 * 24 * 14 \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        112
      ],
      "id": "79e249a7-9fac-4408-9202-a097bc9f6d64",
      "name": "Set Stock Data"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "ticker": "ADBE",
          "exchange": "US"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Overview Output": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from template": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If file exists": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create file from template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set File Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute for Overview": {
      "main": [
        [
          {
            "node": "Normalize Overview Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute for Overview1": {
      "main": [
        [
          {
            "node": "Normalize Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Price": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Name": {
      "main": [
        [
          {
            "node": "Execute for Overview",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute for Overview1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Stock Data": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5d20f4b-0676-4449-9acf-3db80b733e3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87bef006e4a63111db242b2411a115e87b1eb09519bd8a9fad43bcb4a4945f70"
  },
  "id": "u0c1gf2pw1dYbuO5",
  "tags": []
}